body {
    margin: 0;
    font-family: "Urbanist", sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
}

/* ======================================Styling================================================ */

.flex {
    display: flex;
}

.sequence-memory-container,
.number-memory{
    background-color: lightblue;
}

/* ======================================Nav Header================================================ */

#dropdown {
    transform: rotate(-90deg);
}

.center-nav {
    justify-content: flex-end;
    width: 100%;
}

.center-nav a {  
    color: black;
    font-family: "Lobster", cursive;
    font-size: 60px;
    text-decoration: none;
}

.center-nav a:hover {
    color: #44f8ff;
}

.nav-header .right-nav .right-nav-list .dropdown .dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    text-align: center;
    width: 130px;
    z-index: 1;
}

.nav-header .right-nav .right-nav-list .dropdown:hover .dropdown-content {
    display: block;
}

.nav-header .right-nav .right-nav-list .dropdown:hover #dropdown {
    animation: dropdownNormal .5s ease-out;
    animation-fill-mode: forwards; /* Img will remain at the last keyframe positions */
}

.mobile-bar {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
}

.mobile-menu-button {
    display: none;
}

.right-nav {
    align-items: center;
    justify-content: flex-end;
    width: 81%;
}

.right-nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.right-nav a:hover {
    color: #44f8ff;
    text-decoration: underline;
}

.right-nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

/* ---------------------Img Container---------------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;  
}

.img-container{
    position: relative;
}

.img > img {
    width: 100%;
}

.img-container > .img-title-header {
    position: absolute;
    background-color: rgb(220 220 220 / 50%); /* Create a transparent-like box */
    top: 25%;
    left: 25%;
    width: 50%;
    height: 12%;
}

.img-container > .img-title-header > h1 {
    font-family: 'Bebas Nue', cursive;
    font-size: 50px;
    margin: 2px;
    text-align: center;
}

/* .img img {
    width: 20rem;
} */

/* ---------------------Middle Section---------------------------- */

.middle-section {
    text-align: center;
}

.about-me-container {
    text-align: center;
}

.about-me-box {
    /* background-color: black; */
    width: 400px;
    height: 300px;
}

.about-me-box .icon {
    font-size: 150px;
}

.about-me-box .icon:hover {
    color: #44f8ff;
}

/* ****************************Contact Page**************************** */

.form {
    margin-left: 0.5rem;
}

#message {
    height: 9rem;
    width: 90%;
}

/* ****************************Number Memory Game Page**************************** */
.number-memory {
    height: 100vh;
}

.game-header {
    text-align: center;
}

.game-section-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.game-container {
    display: none;
    text-align: center;
}

.game-menu {
    text-align: center;
}

.start-game {
    display: block;
}

#generated_number {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

#start_btn {
    background-color: #fefefe;
    border-radius: 15px;
    font-size: 40px;
    height: 100px;
    width: 200px;
}

#submit_btn {
    margin-top: 25px;
    border-radius: 15px;
    font-size: 28px;
    height: 60px;
    width: 120px;
}

#user_input {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

/* ****************************Sequence Memory Game Page**************************** */

/* Modal Box */
.center > h1 {
    color: lightblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
}

.center {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

/* Game Container */

.sequence-memory-container {
    height: 100vh;
}

.sequence-memory-game .game-menu{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sequence-memory-game .level {
    display: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
  }

.grid-box {
  display: none;
  grid-template-rows: 160px 160px 160px;
  grid-template-columns: repeat(3, 160px);
}

/* Wrong asnwer modal box */
.wrong-answer {
  background-color: rgb(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.wrong-answer .modal-box {
  /* background-color: white; */
  height: 300px;
  width: 50rem;
}

.align-btn-centre {
  align-items: center;
  justify-content: center;
}

.wrong-answer .modal-box .flex div {
  background-color: lightblue;
  border-radius: 1rem;
  height: 80px;
  width: 150px;
}

.wrong-answer .modal-box .flex div:hover {
background-color: #12b4e8;
color: #fefefe;
}

.wrong-answer .modal-box .flex div > .restart-btn {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
/* Boxes section */

.box-rows {
    margin-top: 10px;
    height: 65vh;
    align-content: flex-start;
    justify-content: center;
}

.boxes {
  background-color: white;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

/* **************************Responsice Website************************** */
/* Mobile */

@media (max-width: 325px) {
    .sequence-memory-container {
        height: 135vh;
        width: 115%;
    }

    .game-header {
        width: 90%;
    }

    .wrong-answer {
        height: 105vh;
    }
}

@media (min-width: 300px) and (max-width: 770px) {
    /* Menu Responsive */
    .dropdown-content {
        display: none;
    }

    .show-menu {
        animation: showMenu 1s ease-out;
    }

    .hide-menu {
        animation: hideMenu .5s ease-out;
    }

    .mobile-menu-container {
        background-color: white;
        height: 210px;
        display: none;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .mobile-menu-container .mobile-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 3;
    }

    .mobile-menu-container .mobile-menu a{
        color: black;
        text-decoration: none;
    }

    .mobile-menu-button {
        border: 2px solid black;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3rem;
        position: relative;
        height: 40px;
        width: 50px;
    }

    header .mobile-menu-button .menu-button-burger {
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        position: absolute;
        transition: all .5s ease-in-out;
        height: 6px;
        width: 30px;
    }

    .mobile-menu-button .burger-1{
        transform: translateY(-10px);
    }

    .mobile-menu-button .burger-3 {
        transform: translateY(10px);
    }

    .mobile-menu-button.open .burger-2 {
        background: transparent;
        transform: translateX(-10px);
    }

    .mobile-menu-button.open .burger-1 {
        transform: rotate(45deg);
    }

    .mobile-menu-button.open .burger-3 {
        transform: rotate(-45deg);
    }

    .nav-header {
        align-items: center;
    }

    .center-nav {
        justify-content: center;
        width: 100%;
    }

    .mobile-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.5rem;
    }

    #mobile-bar-cta {
        font-size: 1.5rem;
    }

    .right-nav {
        display: none;
    }
    
    .right-nav a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }

    .right-nav-list {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
    }

    /* ---------------------Img Container---------------------------- */
    .grid-mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img {
        text-align: center;
    }

    .img img {
        height: 20rem;
    }

    .img-2, .img-3 {
        display: none;
    }

    .img-container > .img-title-header > h1 {
        font-size: 2rem;
    }

    /* ---------------------Middle Section---------------------------- */

    .about-me-box {
        /* background-color: black; */
        width: 80%;
        height: 10rem;
    }

    .about-me-box .icon {
        font-size: 5rem;
    }

    .about-me-box .icon:hover {
        color: #44f8ff;
    }

    .middle-section {
        margin-bottom: 2rem;
    }

    /* *********************Number Memory Game Page****************************** */
    .game-section-container {
        height: 15rem;
    }

    .game-header {
        text-align: center;
        margin-left: 1rem;
        width: 93%;
    }

    /* *********************Sequence Memory Game Page****************************** */
    .center {
        justify-content: center;
    }

    .center > h1 {
        color: lightblue;
        font-family: 'Press Start 2P', cursive;
        font-size: 1.5rem;
    }
    
    .wrong-answer .modal-box {
        height: 25rem;
        width: 20rem;
    }

    .sequence-memory-container {
        height: 105vh;
    }

    .sequence-memory-game h1 {
        font-size: 2.2rem;
      }

    /* Boxes Section */
    .sequence-memory-game {
        display: flex;
        flex-direction: column;
    }

    .sequence-memory-game .game-menu{
        height: 50vh;
    }
    

    .sequence-memory-game .level {
        font-size: 2rem;
        margin: 1.5rem 0;
      }
  
      .box-rows {
        width: 100vw;
    }
  
      .boxes {
        background-color: white;
        height: 7rem;
        width: 7rem;
      }
  
      .grid-box {
        grid-template-rows: repeat(3, 8rem);
        grid-template-columns: repeat(3, 8rem);
      }
}

/* Tablet */

@media (max-width: 1024px) {
    .mobile-menu-container {
        background-color: white;
        display: none;
        height: 210px;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .mobile-menu-container .mobile-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 3;
    }

    .center-nav {
        justify-content: center;
        width: 100%;
    }

    /* .mobile-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.5rem;
    } */

    #mobile-bar-cta {
        font-size: 1.5rem;
    }

    .right-nav {
        display: none;
    }

    /* ---------------------Img Container---------------------------- */
    .grid-mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0.8rem;
    }

    .img img {
        width: 20rem;
    }

    .img-2, .img-3 {
        display: none;
    }
}

/* *********************Animation****************************** */

@keyframes showMenu {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes hideMenu {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes dropdownNormal {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}